/* Background */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  background: url("../../asset2/goose-9556271_1920.jpg") no-repeat center center fixed;
  background-size: cover;
  overflow-x: hidden;
  overflow-y: auto;
}

.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 20px;
  padding: 2.5em;
  width: 300px;
  box-shadow: 0 8px 32px rgba(0,0,0,0.3);
  text-align: center;
  color: white;
}

.login-icon img {
  width: 60px;
  margin-bottom: 1em;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 0.8em;
  margin: 0.5em 0;
  border: none;
  border-radius: 10px;
  background: rgba(255,255,255,0.15);
  color: white;
}

input::placeholder {
  color: #ccc;
}


.login-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8em;
  margin-bottom: 1em;
}

.login-options a {
  color: #A8FFE3;
  text-decoration: none;
}


.login-btn {
  background-color: #4a90e2;
  border: none;
  width: 100%;
  padding: 0.9em;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  margin-bottom: 1em;
  cursor: pointer;
}

.google-login {
  background-color: white;
  color: black;
  padding: 0.8em;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 1em;
  font-size: 0.9em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6em;
  font-weight: bold;
}

.google-icon {
  width: 20px;
  height: 20px;
}

/* signup Text */
.signup-prompt {
  font-size: 0.8em;
}
.signup-prompt a {
  color: #A8FFE3;
  text-decoration: none;
}

.footer {
  background: rgba(255, 255, 255, 0.08); 
  backdrop-filter: blur(12px); 
  -webkit-backdrop-filter: blur(12px);
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 4em;
  flex-wrap: wrap;
  font-family: Arial, sans-serif;
  position: relative; 
  z-index: 2;
}
